@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

body {
    margin:0;
    font-family : "Outfit", sans-serif;
    background-color: #bed0f4;
    display: grid;
    background-image: linear-gradient(90deg, #80808035 1px, transparent 1px), linear-gradient(180deg, #80808035 1px , transparent 1px);
    background-size: 30px 30px;
    background-position: center;
    grid-template-columns: [full-width-start] minmax(1rem,1fr) [content-start] minmax(0,calc(100% - 2rem)) [content-end] minmax(1rem,1fr) [full-width-end];
}

.content {
    grid-column: content-start / content-end;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 2rem 1.5rem;
    height: 40px;
    top: 0;
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #000;
    border-radius: 30px;
    position: sticky;
    background-color: #9fe0ff;
    z-index: 1000;
}

.nav-left .logo {
    height: 120px;
}

.nav-left .logo img{
    object-fit: contain;
    max-height: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
} 

a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.btn-touch {
    background-color: #3da9fc;
    border: 3px solid #000;
    padding: 0.46rem 1rem;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 5px 0 #000;
    text-decoration: none;
    color: #000;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.btn-touch:hover {
    box-shadow: 0 0 0 #000;
    transform: translateY(2px);
}

.btn-touch:active {
    box-shadow: 0 2px 0 #000;
    transform: translateY(1px);
}

/* Well Well Vanilla Css Entered the chat! */

.btn-dropdown {
    background-color: #3da9fc;
    border: 3px solid black;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    box-shadow: 2px 5px 0 black;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.25rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9fe0ff;
    min-width: 200px;
    border: 4px solid black;
    border-radius: 8px;
    top: calc(100% + 2px);
    right: 0;
    box-shadow: 4px 4px 0 black;
    font-weight: bold;
    z-index: 1;

}

.dropdown-content a:hover {
    background-color: #7EB2DD;
    border-radius: 8px;
}

.dropdown-content a:active {
    box-shadow: 0 0 0 #666;
    transform: translateY(2px); /*Made the dropdown texts twerk, my life has peaked atp lol*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-dropdown:hover {
    box-shadow: 0 0 0 #666;
    transform: translateY(2px);
}

.dropdown{
    display: inline-block;
    position:  relative;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.hero-image {
    height: 175px;
    width: 115px;
}

.hero-image img {
    max-width: 100%;
    border: 3px solid #000;
    box-shadow: 4px 4px 0 #000;
}

.hero-typewriter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-bottom:20px;
}

.hero-typewriter p {
    text-align: center;
}


/*Will be working on this later*/
.hero-typewriter-text {
    font-size: 2rem;
}

@keyframes blink {
    0% , 50%, 100% {opacity: 1;}
    25%,75% {opacity: 0;}
}

.hero-icons i {
    font-size: 2rem;
    transition: color 0.1s ease;
}

.hero-icons i:hover {
    color: #3da9fc;
    scale: calc(1.2);
}

.hero-button {
    background-color: #3da9fc;
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 0 black;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: all 0.1s;
}

.hero-button:hover {
    transform: translate(4px , 4px );
    box-shadow: none;
    cursor: pointer;
}

.desktop-br {
    display: none;
}

.mobile-only {
    display: inline;
}

.pc-only {
    display: none;
}

.mobile-menu {
    display: inline;
}

.pc-menu {
    display: none;
}

@media (min-width: 1050px) {
 .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
 }

 .hero-typewriter {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: .5rem;
 }

 /* .hero-typewriter-text {

 } */

 .hero-tagline {
    font-size: 3.5rem;
 }

 .hero-typewriter p {
    text-align: left;
    font-size: 1.2rem;
 }

 .hero-image {
    height: 400px;
    width: 250px;
    margin-bottom: 20px;
 }

 .hero-icons i {
    font-size: 2.5rem;
    margin-right: .2rem;
 }

 .desktop-br {
    display: inline;
 }

 .mobile-only {
    display: none;
 }

 .pc-only {
    display: inline;
 }

 .mobile-menu {
    display: none;
 }

 .pc-menu {
    display: inline;
 }
}